body {
  font-family: Arial;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects img {
  width: 150px;
  margin: 10px;
}

nav {
  background: black;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  max-width: 600px;
  margin: 20px auto;
}

body {
  font-family: Arial;
  text-align: center;
  background-color: rgb(255, 224, 188);
}

.hero {
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  margin: 20px auto;
  display: block;
}