body {
  font-family: Arial;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.projects img {
  width: 200px;
  border-radius: 10px;
  display: block;
}

nav {
  background: rgb(128, 10, 10);
  border-radius: 8px;
  padding: 10px 10px;
  display: inline-block;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

ul {
  padding: 0;
  max-width: 600px;
  margin: 20px auto;
  color: rgb(128, 10, 10);
  font-weight: bold;
}

p {
  max-width: 600px;
  margin: 20px auto;
  color: rgb(128, 10, 10);
  font-weight: bold;
}

body {
  font-family: Arial;
  text-align: center;
  background-color: rgb(255, 224, 188);
}

.hero {
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  margin: 20px auto;
  display: block;
}

.profile-box {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: left;
}

h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin-top: 20px;
  color: rgb(99, 23, 23);
}

.contact-box {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.contact-box input,
.contact-box textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.contact-box button {
  background: rgb(175, 112, 69);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.contact-box button:hover {
  background: rgb(150, 90, 50);
}

.project-card {
  background: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.project-card img {
  transition: 0.3s;
}

.project-card:hover img {
  transform: scale(1.05);
}

nav a:hover {
  color: rgb(255, 200, 200);
  transform: translateY(-2px);
}